/* game.css */

:root {
  --background-color: #ffffff;
  --primary-color2: #000000;
  --secondary-color: #000;
  --input-bg-color: hsl(0, 0%, 81%);
  --input-border-color: #acacacbb;
  --button-bg-color: hsl(0, 0%, 81%);
  --button-text-color: #000;
  --button-hover-bg-color: #cccccc;
  --button-hover-shadow: rgba(0, 0, 0, 0.452);
  --text-color: #333;
  --best-attempt-color: #7b7b7b;
  --normal-text: #333;
}

.dark {
  --background-color: #2c2c2c;
  --primary-color2: #ffffff;
  --secondary-color: #ffffff;
  --input-bg-color: #444;
  --input-border-color: #777;
  --button-bg-color: #555;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #666;
  --button-hover-shadow: rgba(255, 255, 255, 0.356);
  --text-color: #f0f0f0;
  --best-attempt-color: #bbbbbb;
  --normal-text: #bbbbbb;
}

.gameSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
  background-color: var(--background-color);
}

.gameTitle {
  font-size: 2em;
  color: var(--text-color);
  margin-bottom: 20px;
}

#game-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 380px;
  margin-bottom: 20px;
}

.digit {
  font-size: 2em;
  margin: 5px;
  color: var(--secondary-color);
  border: 2px solid var(--primary-color2);
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  text-align: center;
}

.gameInput[type="text"] {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--input-bg-color);
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.gameInput[type="text"]:focus {
  color: var(--secondary-color);
  outline: none;
  border-color: var(--input-border-color);
}

.gameButton {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid var(--button-bg-color);
  border-radius: 5px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.gameButton:hover {
  background-color: var(--button-hover-bg-color);
  box-shadow: 0px 4px 8px var(--button-hover-shadow);
}

#feedback,
#attempts,
.best-attempt {
  font-size: 1.2em;
  color: var(--normal-text); /* Use the CSS variable */
  margin: 10px 0;
}
p#attempts {
  color: var(--normal-text); /* Change to whatever color you prefer */
}
p#feedback {
  color: var(--normal-text); /* Change to whatever color you prefer */
}
p.best-attempt {
  color: var(--normal-text);
}

@media screen and (max-width: 480px) {
  #game-board {
    max-width: 220px;
  }
}

@media screen and (min-width: 481px) {
  #game-board {
    max-width: 100%;
  }
}