/* leaderboard.css */

:root {
  --background-color: #f0f0f0;
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --text-color: rgb(0, 0, 0);
  --border-color: #ccc;
  --button-hover-bg: rgba(192, 192, 192, 0.5);
  --button-hover-color: #625772;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --l-button-color2: #FEFAEC;
  --secondary-color2: #ffffff;
}

.dark {
  --background-color: #2c2c2c;
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --secondary-color2: #333333;
  --text-color: #f0f0f0;
  --border-color: #646464;
  --button-hover-bg: rgba(100, 100, 100, 0.5);
  --button-hover-color: #eeeeee;
  --box-shadow-color: rgba(255, 255, 255, 0.2);
}

.leaderboardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.leaderboard-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameButton2 {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  transition: 0.5s;
}

.gameButton2:hover {
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}

.leaderboard-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.leaderboard-title{
  color: var(--text-color);
}
.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.leaderboard-item span {
  flex: 1;
  margin: 0 10px;
}

.leaderboard-position {
  width: 50px;
  text-align: center;
  color: var(--text-color);
}

.leaderboard-username {
  font-weight: bold;
  color: var(--text-color);
}

.leaderboard-attempt {
  text-align: right;
  color: var(--text-color);
}

.home-button-container {
  margin-top: 20px;
}

.mode-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.mode-selector button {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  flex: 1 1 auto;
  text-align: center;
}

.mode-selector button.active {
  background-color: var(--secondary-color);
  color: var(--secondary-color2);
}

.mode-selector button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-color);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}

@media (max-width: 768px) {
  .mode-selector button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .mode-selector button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
