.leaderboard-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.gameButton2 {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.leaderboard-list {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure the list takes full width */
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%; /* Ensure each item takes full width */
}

.leaderboard-item span {
  flex: 1;
  margin: 0 10px;
}

.leaderboard-position {
  width: 50px;
  text-align: center;
}

.leaderboard-username {
  font-weight: bold;
}

.leaderboard-attempt {
  text-align: right;
}

.home-button-container {
  margin-top: 20px; /* Add space between the list and the home button */
}
