/* Colors */

  
  
  .loginPage {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px var(--green-seaweed, 0.2);
  }
  
  .loginPage::before,
  .loginPage::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .loginPage::before {
    left: 40%;
    bottom: -110%;
    background-color: #d9a97850;
    animation: waves 6s infinite linear;
  }
  
  .loginPage::after {
    left: 35%;
    bottom: -105%;
    background-color: #d9a97850;
    animation: waves 7s infinite;
  }
  
  .loginPage > input {
    font-family: var(--font-asap);
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
  .loginPage > .loginPageButton {
    font-family: var(--font-asap);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: var(--red-fire);
    transition: background-color 300ms;
  }
  
  .loginPage > .loginPageButton:hover {
    background-color: rgb(204, 80, 81);
  }
  
  @keyframes waves {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .switchButton {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.452);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.loginPageButton {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #FFE0AC;
    transition: background-color 300ms;
}

.loginPageButton:hover {
    background-color: #d9a978; /* Darken redFire color */
}

.fieldset {
    border: none;
}
