.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgb(152, 152, 152);
  width: 90%; /* Adjust width */
  max-width: 400px; /* Add max-width */
  overflow: hidden;
}

.loginPage::before,
.loginPage::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.loginPage::before {
  left: 40%;
  bottom: -110%;
  background-color: #d8d8d850;
  animation: waves 6s infinite linear;
}

.loginPage::after {
  left: 35%;
  bottom: -105%;
  background-color: #d8d8d850;
  animation: waves 7s infinite;
}

.input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.452);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.loginPageButton {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  width: 100%; /* Adjust width */
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #d8d8d897;
  transition: background-color 300ms;
}

@media (min-width: 768px) {
  .loginPage {
      width: 400px; /* Adjust width for larger screens */
  }
}

@media (max-width: 480px) {
  .loginPage {
      padding: 20px; /* Adjust padding for smaller screens */
  }
  .loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgb(152, 152, 152);
  width: 90%; /* Adjust width */
  max-width: 400px; /* Add max-width */
  overflow: hidden;
}

.loginPage::before,
.loginPage::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.loginPage::before {
  left: 40%;
  bottom: -110%;
  background-color: #d9a97850;
  animation: waves 6s infinite linear;
}

.loginPage::after {
  left: 35%;
  bottom: -105%;
  background-color: #d9a97850;
  animation: waves 7s infinite;
}
}

  
  .loginPage > input {
    font-family: var(--font-asap);
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
  .loginPage > .loginPageButton {
    font-family: var(--font-asap);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: var(--red-fire);
    transition: background-color 300ms;
  }
  
  .loginPage > .loginPageButton:hover {
    background-color: rgb(204, 80, 81);
  }
  
  @keyframes waves {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .switchButton {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.483);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    cursor: pointer;
  }
  

.loginPageButton:hover {
    background-color: #d8d8d850; /* Darken redFire color */
}

.fieldset {
    border: none;
}

/* Custom Alert Box Styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between; /* To place the close button at the end */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/* Close Button */
.close-btn {
  cursor: pointer;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  margin-left: 10px;
}

.close-btn:hover {
  color: #000;
  opacity: 0.75;
}
