:root {
  --white-pg-bg: rgba(247, 247, 247, 0.685);
  --input-bg2: rgba(218, 218, 218, 0.473);
  --l-button-color2: #646464;
  --switch-btn2: rgba(0, 0, 0, 0.483);
  --landing-white-pg-bg: rgb(255, 255, 255);
  --input-focus-border: #9b9b9b; /* Focus border color for light mode */
  --input-focus-shadow: rgba(85, 85, 85, 0.555); /* Focus shadow color for light mode */
  --boxshadow-login: #bdbdbd;
  --input-bg: #2c2c2c;
  --input-bg-color: #dfdfdfc9;
}

/* Dark mode variables */
.dark {
  --white-pg-bg: #272727b0;
  --input-bg2: rgba(218, 218, 218, 0.473);
  --l-button-color2: #D8D8D8;
  --switch-btn2: #D8D8D8;
  --landing-white-pg-bg: #272727;
  --input-focus-border: #d8d8d8; /* Focus border color for dark mode */
  --input-focus-shadow: rgba(255, 255, 255, 0.555); /* Focus shadow color for dark mode */
  --boxshadow-login: #636363;
  --input-bg: #e0e0e0;
  --input-bg-color: #2c2c2c;
}

.loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--landing-white-pg-bg); /* Change this to your desired background color */
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  background-color: var(--white-pg-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 0px 0px 4px 4px var(--boxshadow-login);
  width: 90%; /* Adjust width */
  max-width: 400px; /* Add max-width */
  overflow: hidden;
}

.loginPage::before {
  left: 40%;
  bottom: -110%;
  background-color: #d8d8d850;
  animation: waves 6s infinite linear;
}

.loginPage::after {
  left: 35%;
  bottom: -105%;
  background-color: #d8d8d850;
  animation: waves 7s infinite;
}

.input {
  color: var(--input-bg);
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: var(--input-bg-color);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.input:focus {
  border-color: var(--input-focus-border); /* Change this to your desired border color when focused */
  outline: none;
  box-shadow: 0 0 5px var(--input-focus-shadow); /* Optional: add a box-shadow for a glowing effect */
}

.loginPageButton {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: var(--l-button-color2);
  font-size: 18px;
  width: 80px;
  border: 0;
  padding: 10px 10px;
  padding-right: 0px;
  margin-top: 10px;
  margin-left: 15%;
  border-radius: 5px;
  background-color: #FFE0AC;
  transition: background-color 300ms;
  text-decoration: none;
  opacity: 80%;
  background-color: #6e6e6e50;
}

.loginPageButton:hover {
  background-color: #c9c9c988; /* Darken color */
}

.switchButton {
  text-decoration: none;
  color: var(--switch-btn2);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: #d8d8d800;
}

.fieldset {
  border: none;
}

/* Custom Alert Box Styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between; /* To place the close button at the end */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/* Close Button */
.close-btn {
  cursor: pointer;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  margin-left: 10px;
}

.close-btn:hover {
  color: #000;
  opacity: 0.75;
}

@media (min-width: 768px) {
  .loginPage {
    width: 400px; /* Adjust width for larger screens */
  }
}

@media (max-width: 480px) {
  .loginPage {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
