.landingBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  #numeric {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    z-index: 1; 
}

.landingText1 {
    position: absolute;
    z-index: 2; 
    color: #000; 
    padding: 10px;
    left: 33%;
    top: 33%;
    font-size: 24px;
    font-family: 'Karma', serif;
}

.landingText2 {
    position: absolute;
    z-index: 2; 
    color: #000; 
    padding: 10px; 
    left: 47%;
    top: 36%;
    font-size: 24px;
    font-family: 'Karma', serif;
}
.playButton {
    position: absolute;
    left: 42%;
    top: 46%;
    z-index: 2; 
    border: 1px solid #000;
    background-color: white;
    border-radius: 25px;
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 45px;
    padding-right: 45px;
    transition: .5s;
    font-family: 'Karma', serif;
}
.playButton:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.loginButton {
    position: absolute;
    right: 42%;
    top: 52%;
    z-index: 2; 
    border: 1px solid #FAFF00;
    background-color: white;
    border-radius: 25px;
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 45px;
    padding-right: 45px;
    transition: .5s;
    font-family: 'Karma', serif;
}
.loginButton:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.landingBlur {
    color: transparent; 
    text-shadow: 0 0 3px rgba(0,0,0,1);
}