.landingBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.App-video {
    height: 100px;  /* Adjust the height as needed */
    width: auto;
    margin-bottom: 20px;
    z-index: 1;
    border-radius: 10px; /* Optional: adds rounded corners to the video */
}

.landingText1,
.landingText2 {
    z-index: 2; 
    color: #000; 
    padding: 0px;
    font-size: 24px;
    font-family: 'Karma', serif;
    text-align: center;
}

.landingText1 {
    margin-bottom: 0px;
}

.landingText2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.playSelection,
.leaderboardSelection,
.loginSelection,
.signOutButton {
    color: black;
    border: 1px solid #000;
    background-color: white;
    border-radius: 25px;
    font-size: 24px;
    padding: 10px 45px;
    margin: 10px 0;
    transition: 0.5s;
    font-family: 'Karma', serif;
    text-decoration: none;
    text-align: center;
}

.playSelection:hover,
.leaderboardSelection:hover,
.loginSelection:hover, 
.signOutButton:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for screens up to 1280x800 */
@media (max-width: 1280px) and (max-height: 800px) {
    .App-video {
        height: 80px;
    }
    .playSelection,
    .leaderboardSelection,
    .loginSelection {
        font-size: 22px;
        padding: 8px 40px;
    }
}

/* Styles for screens up to 430x932 (e.g., smaller smartphones) */
@media (max-width: 430px) and (max-height: 932px) {
    .App-video {
        height: 60px;
    }
    .playSelection,
    .leaderboardSelection,
    .loginSelection {
        font-size: 20px;
        padding: 6px 35px;
    }
    .landingText1,
    .landingText2 {
        font-size: 20px;
    }
    #numeric {
        width: 300px;
    }
}

/* Styles for screens up to 375x812 (e.g., iPhone X) */
@media (max-width: 375px) and (max-height: 812px) {
    .App-video {
        height: 50px;
    }
    .playSelection,
    .leaderboardSelection,
    .loginSelection {
        font-size: 18px;
        padding: 5px 30px;
    }
    .landingText1,
    .landingText2 {
        font-size: 18px;
    }
    #numeric {
        width: 280px;
    }
}
